div(class="main__nav")
  div(class="nav__hamburguer-icon")
    button(class="hamburguer-icon-btn")
      div(class="hamburguer-icon-item")
      div(class="hamburguer-icon-item")
      div(class="hamburguer-icon-item")
  div(class="nav__logo")
    a(href!=logo.link)
      img(class="nav__logo-img" src!=logo.img)
  div(class="nav__contact")    
    img(class="nav__contact-img" src="http://www.defibmap.org/media/images/contact.png")
div(class="menu")
  - var items = links;
  ul(class="menu_container")
    each item in items
      li(class="menu__item")
        if item.hasOwnProperty('links')
          button(class="menu__item--btn")
            h2(class="menu__item-text")= item.label
          - var subitems = item.links;
          each subitem in subitems
            li(class="menu__item menu__item--sub menu__item-state--colapsed" data-parent!=item.label)
              a(class="menu__item--link" href!=subitem.href)
                h2(class="menu__item-text")= subitem.label
        else 
          a(class="menu__item--link" href!=item.href)
            h2(class="menu__item-text")= item.label
