@import '../../variables';
@import '../../utils';

.main__nav{
  height: 56px;
  width: 100%;
  background-color: white;
  display: flex;
}
.nav__hamburguer-icon{
  height: 100%;
  width: 20%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburguer-icon{
  &-btn{
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    cursor: pointer;
  }
  &-item{
    background-color: gray;
    height: 3px;
    width: inherit;
    border-radius: 2px;
    transition: transform 0.2s;
    &--item1{
      background-color: $color-item;     
      transform: translateY(4px) rotateZ(45deg);
    }
    &--item2{
      display: none;
    }
    &--item3{
      background-color: $color-item;     
      transform: translateY(-5px) rotateZ(-45deg);
    }
  }
}

.nav__logo{
  height: 100%;
  width: 60%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &-img{
    height: 30px;
  }
  @include at-smallView {
    background: purple;
  }
  @include at-mediumView {
    background: green;
  }
}
.nav__contact{
  height: 100%;
  width: 20%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &-img{
    width: 30px;
    height: 28px;
  }
}
.menu{
  height: calc(100% - 56px);
  width: 100%;
  background-color: $color-item;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  &__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &--visible{
    opacity: 1;
    z-index: 2;
  }
  &__item{
    background-color: $color-item;
    height: 60px;
    display: flex;
    border-bottom: solid 1px white;
    transition: height 0.2s ease-out;
    &--btn{
      height: 100%;
      width: 100%;
      border: 0px;
      padding: 0px;
      background-color: $color-item;

      text-align: left;
      align-items: center;
    }
    &--link{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &-text{
      margin-left: 30px;
      font-size: 18px;
      color: white;
      font-family: 'Montserrat Alternates', sans-serif;
    }
    &--sub{
      background-color: $color-subitem;
    }
    &-state--colapsed{
      height: 0px;
      overflow: hidden;
      border: 0px;
    }
  }

}
