doctype html

html(lang="en")
  head
    title=Multipage
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Archivo+Black"  rel="stylesheet")


  body
    div(class="main")

